@use '../../resources';

.footer {
  height: 10vh;
  margin: 1rem;
  flex-shrink: 0;
  background-color: #f3e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  opacity: 0.75;
  border: 0.5rem solid black;

  p {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
  }

  .firstContent,
  .secondContent {
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    height: auto;
  }

  @media only screen and (max-width: 400px) {
    font-size: 0.8rem;
  }
}
